.overlay_blue {
  -webkit-animation: opacityEffect 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
    alternate;
          animation: opacityEffect 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
    alternate;
}
.overlay_red {
  -webkit-animation: opacityEffect 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
    alternate;
          animation: opacityEffect 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite
    alternate;
}
.thienthan_card {
  left: 20vw;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: thienThanEffect 2s cubic-bezier(0.2, 0.8, 0.5, 1.2 );
          animation: thienThanEffect 2s cubic-bezier(0.2, 0.8, 0.5, 1.2 );
}
.acquy_card {
  right: 20vw;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: acQuyEffect 2s cubic-bezier(0.2, 0.8, 0.5, 1.2);
          animation: acQuyEffect 2s cubic-bezier(0.2, 0.8, 0.5, 1.2);
}
.thienthan_final--show {
  left: 50%;
  -webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.thienthan_final--hidden {
  left: 50%;
  visibility: hidden;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-animation: CardFinalHidden 1s cubic-bezier(0.39, 0.575, 0.565, 1);
          animation: CardFinalHidden 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.acquy_final--show {
  right: 50%;
  -webkit-transform: translate(50%, 0%);
      -ms-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  -webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);

}
.acquy_final--hidden {
  right: 50%;
  visibility: hidden;
  -webkit-transform: translate(50%, 0%);
      -ms-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  -webkit-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-animation: CardFinalHidden 1s cubic-bezier(0.39, 0.575, 0.565, 1);
          animation: CardFinalHidden 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.scene_transtion {
  visibility: hidden;
}
.scene_transtion--active {
  -webkit-transition: visibility 1.5s ease-in;
  -o-transition: visibility 1.5s ease-in;
  transition: visibility 1.5s ease-in;
  visibility: visible;
}

@-webkit-keyframes CardFinalHidden {
  0% {
    visibility: visible;
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  70%,
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}

@keyframes CardFinalHidden {
  0% {
    visibility: visible;
    opacity: 1;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  70%,
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
@-webkit-keyframes thienThanEffect {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-filter: contrast(115%);
            filter: contrast(115%);
    left: 15vw;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px) contrast(100%);
            filter: blur(0px) contrast(100%);
    left: 20vw;
  }
}
@keyframes thienThanEffect {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-filter: contrast(115%);
            filter: contrast(115%);
    left: 15vw;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px) contrast(100%);
            filter: blur(0px) contrast(100%);
    left: 20vw;
  }
}
@-webkit-keyframes acQuyEffect {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-filter: contrast(115%);
            filter: contrast(115%);
    right: 15vw;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px) contrast(100%);
            filter: blur(0px) contrast(100%);
    right: 20vw;
  }
}
@keyframes acQuyEffect {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-filter: contrast(115%);
            filter: contrast(115%);
    right: 15vw;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px) contrast(100%);
            filter: blur(0px) contrast(100%);
    right: 20vw;
  }
}
@-webkit-keyframes opacityEffect {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityEffect {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
